@import './common.scss';

.cache-tree-viewer {
  padding: 1.5em 5em;
  ul {
    background-color: #FBFBFB !important;
    text-align: left;
  }
}

.cache-tree {

  .cache-node-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;

    .node-value {
      cursor: pointer;
      margin-right: 1em;
    }

    .rm-node-value {
      cursor: default;
      color: gainsboro;
    }

    .padding-helper {
      padding: 0.5em 0.5em;
    }

    .input-wrapper, .btn-wrapper {
      display: flex;
      flex-direction: row;
    }
  }

}