.checkbox {
  display: flex;
  align-items: center;
  transform: translate(60px);

  margin: 10px;
  &__label {
    font-size: 24px;
    font-weight: 700;
  }
  &__icon {
    width: 50px;
    cursor: pointer;
    color: white;
  }
}