.wrapperCentered {
  background: #fbfbfb;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: center;

  .container {
    width: 100%;
  }
}